<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<display-name>EmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<display-name>InsertServlet</display-name>
  	<description></description>
  	<servlet-class>crud.InsertServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>crud.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>crud.DeleteServlet</servlet-class>
 </servlet>
  <servlet>
  	<servlet-name>ListEmpServlet</servlet-name>
  	<display-name>ListEmpServlet</display-name>
  	<description></description>
  	<servlet-class>crud.ListEmpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>temp</servlet-name>
  	<display-name>temp</display-name>
  	<description></description>
  	<servlet-class>crud.temp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login-servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register-servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/employee-servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertServlet</servlet-name>
  	<url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListEmpServlet</servlet-name>
  	<url-pattern>/ListEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>temp</servlet-name>
  	<url-pattern>/temp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
